<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>


<div class="jumbotron text-center">
    <h1>Seyeon blog</h1>
<a href ="{%url 'new' %}">새 글 작성하기</a>

<div style="text-align: right; margin: 10px;">
    {% if user.is_authenticated %}
        <h3>안녕하세요 {{user.username}}님</h3>
    {% endif %}

    <a href="{% url 'login'%}">로그인</a>
    <a href="{% url 'logout'%}">로그아웃</a>
    <a href="{% url 'register'%}">회원가입</a>
</div>


{% for blog in blogs %}

<!-- 사이사이 줄 -->
<hr>
<a href="{%url 'detail' blog.id%}">
{{blog.title}}
<br>
{{blog.pub_date}}
<br>
{{blog.summary}}
<br>
{% if blog.img %}
    <img src="{{ blog.img.url }}" class="img-rounded" alt="Cinque Terre" width="304" height="auto">
{% endif %}



{% endfor %}